/* Green: 5a8567 */

body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#global-wrap{
    font-family: futura;
    background-color: rgb(60, 60, 60);
    color: white;
    width: 100vw;
    overflow-x: hidden;
}

button {
    z-index: 100;
    padding: 10px;
    margin: 3px;
}

@font-face {
    font-family: 'aima';
    src: url("/static/fonts/Aima.ttf");
}
@font-face {
    font-family: 'futura';
    src: url("/static/fonts/futura.otf");
}

h1 {
    font-size: 35px;
}
#nav-wrap{
    width: 100vw;
    height: 75px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: rgb(60, 60, 60, .5);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    
}

#moji-wrap{
    width: 100vw;
    height: 100vh;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#moji-char{
    width: 300px;
    position: absolute;
    
}

#gage-script{
    margin-top: 300px;
    width: 190px;
    z-index: 2;
    filter: invert();
}


#g-script{
    filter: invert();
    height: 75%;

}

#HEADER{
    height: 670px;
    overflow: hidden;
}
#BIO{
    padding-top: 25px;
    background-color: rgb(60, 60, 60);
    border-top: 12px solid white;
    z-index: 2;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

#lang-wrap{
    width: 90vw;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
}
.lang-card{
    width: 22vw;
    height: 35px;
}

#bio-text{
    padding: 0px 15px 0px 15px;
    text-align: center;
}


.edu-card{
    width: 80%;
    height: 100px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 0px 0px 25px 0px;
    
}

#pdx{
    background-color: #df6227;
}

#pcc{
    background-color: #148cac;
}

.school-logo{
    width: 50px;
}

.edu-bio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edu-bio>*{
    margin: 5px;
}

#project-wrap{
    width: 100vw;
    background-color: rgb(0, 0, 0);
    overflow: scroll;
    padding: 15px 0px 15px 0px;
    white-space: nowrap;
    
}

.project-card{
    width: 225px;
    height: 275px;
    background-color: rgb(60, 60, 60);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 25px 10px 0px;
    border-radius: 25px;
    overflow: hidden;
    padding: 20px;
    
}

.proj-head>*{
    margin: 10px 0px 0px 0px;
}

.code-link{
    color: white;
    text-decoration: none;
    
    border-radius: 15px;
    padding: 10px 0px 10px 0px;
    text-align: center;

    width: 100%;
}

.proj-img{
    border-radius: 15px;
}

.resume{
    width: 100vw;
    border-top: 12px solid white;
    color: white;
    text-decoration:  none;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
}

#social-wrap{
    background-color: rgb(60, 60, 60);
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    padding: 15px;
    /* height: 100px; */
}

.social-card{
    width: 45vw;
    height: 50px;
    border-radius: 15px;
    padding: 10px 0px 10px 0px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}